/* 写法：2025年2月13日 10点21分 自制，参考obsidian devtools */
/* 不可与github-pkmer边注共用。 */
/* 写法形如：<p align="right" class="callout-asides"> <center class="callout-asides"> */

.callout-asides {
    border-color: rgb(var(--text-normal), 0.2);
    border-width: 0.5px;
    border-style: solid;
    border-radius: 2px;
    /* box-shadow: 1px 1px 1px rgba(var(--text-normal), 0.2); */
    background-image: linear-gradient(to left, rgba(0, 0, 255, 0.1), rgba(255, 255, 0, 0));
    /* background-color: var(--text-accent-rgb); */
    /* background-color: rgb(var(--text-accent-rgb), 0.2); */
    /* color: #EBE5D8;
    background-color: #4F576A; */
    text-decoration: underline;
    text-decoration-thickness: 0.4px;
    padding-left: 4em;
    padding-right: 0.3em;
} 
